* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#gameContainer {
    background-color: blanchedalmond;
    border-radius: 2rem;
    width:fit-content;
    padding: 2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tactile {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 1rem;
    font-family:sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

#spaceinvaders {
    border: 1px solid black;
    background-color: lightgray;
}

button {
    width: 24%;
    height: 50px;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: .5rem .5rem .5rem gray;
}

button:hover {
    transform: translate(.1rem, .1rem);
    transition: all 0.3s;
}
#gamestatus {
    font-size: 1.2em;
    margin-bottom: .5rem;
}

#background {
    background-color: gray;
    border-radius: 15px;
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spaceinvaders {
    margin-left: auto;
    margin-right: auto;
}