#spaceinvaders {
    border: 1px solid black;
    background-color: lightgray;
}

input[type='button'] {
    width: 100px;
    height: 50px;
}

#gamestatus {
    font-size: 1.2em;
}

#background {
    background-color: gray;
    border-radius: 15px;
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spaceinvaders {
    margin-left: 20px;
    margin-right: auto;
}